.product{
    width: 80% !important;
    background-color: var(--section-bg);
    margin-left: 50px;
}

.product img{
width: 80px;
height: 80px;
}
.process button{
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
}
.process span{
    font-size: 18px;
}
.cart .total{
    background-color: var(--section-bg);
    
}
.c{
    color: var(--main-color);
}
